@model MiniBlogApp.WebUI.Models.ArticleModel

@{
    ViewData["Title"] = "Create";
}


<h4>Create Article</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" asp-controller="Article">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="hdImage" name="ImageUrl" asp-for="ImageUrl" />
            <input type="hidden" id="hdDes" name="Description" asp-for="Description" />
            <input type="hidden" id="hdUrl" name="hdUrl" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input id="summernote" class="form-control" />
                @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </div>


            <div class="form-group">
                <input type="submit" value="Create Atricle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function () {


            $('#summernote').summernote({
                placeholder: 'Hello Bootstrap 4',
                tabsize: 2,
                height: 200,
                focus: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ],

                callbacks: {
                    onImageUpload: function (files) {
                        //$summernote.summernote('insertNode', imgNode);

                        for (let i = 0; i < files.length; i++) {
                            UploadImage(files[i]);
                            //console.log(files[i]);

                            //$("#hdDes").attr('value', $('#summernote').summernote('code'));
                            //console.log($("#hdDes").val());
                            //console.log($("#hdImage").val());
                        }
                    }
                    ,
                    onBlur: function () {
                        //console.log('Editable area loses focus');

                       // $("#hdDes").attr('value', $('#summernote').summernote('code').replace(/<p>(.*?)<\/p>/g, ""));
                        $("#hdDes").attr('value', $('#summernote').summernote('code'));
                       // $("#hdDes").attr('value', $($("#summernote").code()).text());

                       // console.log($("#hdDes").val());

                    }
                },


            });





        });
    function UploadImage(file) {
            var url = '@Url.Content("~/")' + "Article/UploadFile";

        formData = new FormData();
            formData.append("files", file);
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (FileUrl) {
               alert(FileUrl);
                var imgNode = document.createElement('img');
                imgNode.src = FileUrl;
                $('#summernote').summernote('insertNode', imgNode);
                $("#hdImage").attr('value', FileUrl);

            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }




    </script>
}
