@model IEnumerable<MiniBlogApp.Entities.Comments>

@await Component.InvokeAsync("Comment", null)

@foreach (var item in Model)
{

<blockquote class="blockquote">
    <p class="mb-0">@item.Text</p>
</blockquote>


@await Component.InvokeAsync("Reply", new { id = item.Id })

}


@*<h1>Hello from view component</h1>*@

